$defaultColor: #666;

// 基本按钮
@mixin button-define($background,$type) {
    background: $background;
    border:1px solid $background;
    @if $type == 'btn' {
        color:#fff;
        &:hover {
            background: darken($background, 5%);
        }
    }
}

// 边框按钮
@mixin button-border-define($background,$type) {
    background: none;
    color: $background;
    border: 1px solid $background;
    &:hover {
        color:#fff;
        background: darken($background, 2%);
        @if $type == 'default' {
            color:#666;
        }
    }
}

.v-btn {
    display: inline-block;
    padding: 6px 20px;
    font-size: $v-font-size-default;
    line-height: 20px;
    background: $v-color-default;
    color: $defaultColor;
    white-space: nowrap;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &.v-btn-default{
        @include button-define($v-color-default, 'btn');
        color:#666;
        &.is-border {
            @include button-border-define($v-color-default, 'default');
            color:#666;
        }
    }
    &.v-btn-primary {
        @include button-define($v-color-primary, 'btn');
        &.is-border {
            @include button-border-define($v-color-primary, 'primary');
        }
    }
    &.v-btn-success {
        @include button-define($v-color-success, 'btn');
        &.is-border {
            @include button-border-define($v-color-success, 'success');
        }
    }
    &.v-btn-warning {
        @include button-define($v-color-warning, 'btn');
        &.is-border {
            @include button-border-define($v-color-warning, 'warning');
        }
    }
    &.v-btn-danger {
        @include button-define($v-color-danger, 'btn');
        &.is-border {
            @include button-border-define($v-color-danger, 'danger');
        }
    }
    &.v-btn-grey {
        @include button-define($v-color-grey, 'btn');
        &.is-border {
            @include button-border-define($v-color-grey, 'grey');
        }
    }

}

