/* ---------------------
* default : 默认
* primary : 主要
* success : 成功
* warning : 警告
* danger  : 危险
* grey    : 信息
--------------------- */

/**
 * color
 */
$v-color-default: #E4E4E4;
$v-color-primary: #699FE1;
$v-color-success: #50BA5F;
$v-color-warning: #FF9437;
$v-color-danger: #EB8B79;
$v-color-grey: #666;

/**
 * font
 */
$v-font-size-default: 14px;
$v-font-size-small: 12px;
$v-font-size-large: 16px;