.v-toast {
    position: fixed;
    padding: 10px;
    left: 50%;
    z-index: 99999;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    border-radius: 5px;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    &.v-toast-top {
        top: 10%;
    }
    &.v-toast-middle {
        top: 50%;
    }
    &.v-toast-bottom {
        top: initial;
        bottom: 5%;
    }
}