.v-toast {
    position: fixed;
    padding: 15px;
    left: 50%;
    z-index: 99999;
    min-width: 160px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    font-size: $v-font-size-default;
    &-success {
        color: $v-color-success;
        background-color: lighten($v-color-success, 40%);
        border: 1px solid lighten($v-color-success, 30%);
    }
    &-error {
        color: $v-color-danger;
        background-color: lighten($v-color-danger, 25%);
        border: 1px solid lighten($v-color-danger, 20%);
    }
    &-warning {
        color: $v-color-warning;
        background-color: lighten($v-color-warning, 35%);
        border: 1px solid lighten($v-color-warning, 30%);
    }
    &-top {
        top: 5%;
    }
    &-middle {
        top: 40%;
    }
    &-bottom {
        top: initial;
        bottom: 5%;
    }
}