/**
 * defaultBg : 默认
 * primaryBg : 主要
 * successBg : 成功
 * warningBg : 警告
 * dangerBg  : 危险
 * greyBg    : 信息
 * violetBg  : 其他
 */
$defaultBg: #E4E4E4;
$primaryBg: #699FE1;
$successBg: #50BA5F;
$warningBg: #FF9437;
$dangerBg: #EB8B79;
$violetBg: #8089C1;
$greyBg: #666;
