// 基本按钮
@mixin default-button($color,$type) {
    background: $color;
    border: 1px solid $color;
    @if $type != 'default' {
        color: #fff;
    }
    &:hover {
        background: darken($color, 5%);
    }
}

// 边框按钮
@mixin border-button($color,$type) {
    @if $type != 'default' {
        color: $color;
    }
    background: none;
    &:hover {
        background: rgba($color, 0.08);
        @if $type == 'default' {
            color: $v-color-primary;
            border: 1px solid $v-color-primary;
        } @else {
            color: $color;
        }
    }
}

// 禁止基本按钮
@mixin disabled-button($color) {
    opacity:.5;
    &:hover {
        background: $color;
        border: 1px solid $color;
        cursor: not-allowed;
    }
}

// 禁止边框按钮
@mixin disabled-border-button($color,$type) {
    opacity:.5;
    &:hover {
        @if $type == 'default' {
            color: #666;
        } @else {
            color: $color;
        }
        background: none;
        border: 1px solid $color;
    }
}

